
Reports/bin/Debug/Отчет 20200630 VRES-MKD.xlsx
Reports/.vs/Reports/v16/Server/sqlite3/db.lock
Reports/.vs/Reports/v16/Server/sqlite3/storage.ide
Reports/.vs/Reports/v16/Server/sqlite3/storage.ide-shm
Reports/.vs/Reports/v16/Server/sqlite3/storage.ide-wal
